
.mainContainer > .landingContainer{
    
    background-image: url("IMAGES/backgrounds/landing.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20em;  
    position: relative;

}

.logoWrapper{
    position: absolute;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
}


#logoTag{
    text-align: center;
    color: white;
}

#menu{
    filter: invert(1);
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px;
}

.happyHour{
    background-image: rgb(233, 232, 232);
}

.partyTime{
    background-color: #F15A29;
}

.breakFast{
    background-image: url();
}

.lunch{
    background-image: url();
}

.dinner{
    background-image: url();
}